* {
    box-sizing: border-box;
}

a {
    color: rgb(46, 118, 78);
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
}

body {
    background-color: #FFF4EC;
}

div {
    max-height: 100vh;
    padding: 5% 0;
}

h1, h2, h3, h4 {
    /* I chose to use em to set the padding relative to the font-size of the respective h tag */
    padding: 1em;
}

h1 {
    background-color: palevioletred;
}

h2 {
    background-color: #EABA6B;
}

h3 {
    background-color: rgb(228, 87, 46);
}

h4 {
    background-color: hsl(213, 48%, 64%);
}

a:hover {
    background-color:rgb(46, 118, 78);
    color: #FFF4EC;
}